span {
    font-family: "Cafe24";
}

.timeItemButton {
    border: 0;
    outline: 0;
    background-color: transparent;
    border: 2px solid #C9C9C9;
    border-radius: 20px;
    width: max-content;
    margin-left: 24px;
    margin-right: 24px;
    height: 220px;
    width: 170px;
}

.timeItemButton:active {
    opacity: 0.5;
}



.selectedTimeItem {
    background-color: #FACE64;
    border: 2px #FACE64 solid;
}

.timeText {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    font-family: "Cafe24";
}

.discriptionText{
    font-size: 18px;
    margin: 0;
    font-family: "Cafe24";
}