.ingredientItemBox {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    margin: 8px;
}

.ingredientItemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.ingredientItemName {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

.ingredientItemButton {
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-right: 12px;
    border: 2px #C9C9C9 solid;
    border-radius: 20px;
}

.ingredientItemButton:active {
    opacity: 0.5;
}

.selected {
    background-color: #face64;
    border: 2px #face64 solid;
}