.recipeListWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    align-self: center;
    width:fit-content;
    overflow: auto;
}